<div class="panel panel-primary col-md-8 col-md-offset-1">
    <div class="panel-heading">Inform your spendings</div>
    <div class="panel-body">
    <form id="spending">
        <div class="form-group">
            <label for="dateSpending">Date</label>
            {{input type="date" value=model.date class="form-control" id="dateSpending" placeholder="Enter date"}}
        </div>
        <div class="form-group">
            <label for="item">Where</label>
            {{input type="text" value=model.item class="form-control" id="item" placeholder="Enter where you spent"}}
            
        </div>
        <div class="form-group">
            <label for="value">Value</label>
            {{input type="text" value=model.value id="value"}}
        </div>
        <button id="send" type="submit" class="btn btn-default" {{action 'save' model}}>
            Submit
        </button>
    </form>
    </div>
</div>